In [1]:
c=10
c

10

In [2]:
print(c)

10

In [3]:
print(type(c))

<class 'int'>

In [4]:
a='hi'
print(a)

hi

In [5]:
print(type(a))

<class 'str'>

In [6]:
a=10.532
print(a)

10.532

In [7]:
print(type(a))

<class 'float'>

In [8]:
a=10
b=20
print(a+b)

30

In [9]:
a=10
b=20
c=a+b

In [10]:
print(c)

30

In [11]:


a=int(input('enter a number'))
b=int(input('enter a number'))
c=a*b
print(c)

enter a number8
enter a number8
64

In [12]:
num=int(input('enter a number'))
num1=int(input('enter a number'))
print(num+num1)

enter a number8
enter a number8
16

In [13]:
x='abc'
print(x)

abc

In [14]:
print(type(x))

<class 'str'>

In [15]:
print(x[2])

c

In [16]:
a=[1,2,3,'abc',4.4,'hello']
print(a)

[1, 2, 3, 'abc', 4.4, 'hello']

In [17]:
print(a[4])

4.4

In [18]:
a[4]=5
print(a)

[1, 2, 3, 'abc', 5, 'hello']

In [19]:
a[3]=4.5
print(a)

[1, 2, 3, 4.5, 5, 'hello']

In [20]:
mytuple=(1,2,3,'hi','hello')
print(mytuple[4])

hello

In [21]:
print(mytuple)

(1, 2, 3, 'hi', 'hello')

In [22]:
myset={1,2,3,4,'abg'}
print(myset)

{1, 2, 3, 4, 'abg'}

In [23]:
myset1={40,2.3,60,"anooj"}
print(myset1)

{40, 2.3, 60, 'anooj'}

In [24]:
dis={'name':'anooj tk','age':20,'gender':'male'}
print(dis)

{'name': 'anooj tk', 'age': 20, 'gender': 'male'}

In [25]:
dis['age']=22
print(dis)

{'name': 'anooj tk', 'age': 22, 'gender': 'male'}

In [30]:
b=8
if b>0:
    print("positive")
else:
    print("negative")

positive

In [35]:
b=3
if b>5:
    print("positive")
elif b<0:
    print("negative")
else:
    print("zero")

zero

In [ ]:
c=10
if