In [5]:
set1={1,2,3,4,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

In [6]:
set1={1,2,3,4,5,6}
set1.add('s')
print(set1)

{1, 2, 3, 4, 5, 6, 's'}

In [7]:
set2={1,2,3,4,5,6}
set2.discard('s')
print(set2)

{1, 2, 3, 4, 5, 6}

In [14]:
set3={44,12,1,2,3,4,'green'}
set4={12,33,44,55,'apple'}
x=set3.intersection(set4)
y=set4.union(set3)
z=set4.difference(set3)
u=set4.symmetric_difference(set3)
print(x)
print(y)
print(z)
print(u)

{12, 44}
{33, 1, 2, 3, 4, 'apple', 12, 44, 'green', 55}
{33, 'apple', 55}
{1, 2, 3, 4, 'apple', 'green', 33, 55}

In [16]:
ab={1,2,3,4,5,6}
cd={1,2,3,4,5,6}
x=ab.issubset(cd)
print(x)

True

In [21]:
ab={1,2,3,4,5,6}
x=ab.copy()
print(x)

{1, 2, 3, 4, 5, 6}

In [22]:
new={1,2,3,5,6,7,8}
new.clear()
print(new)

set()

In [28]:
a={1,2,3,4,5,6,7,8}
b=len(a)
print(b)

8

In [32]:
di={'name':'anooj','year':2001,'age':21}
di.update({'income':20000})
print(di)

{'name': 'anooj', 'year': 2001, 'age': 21, 'income': 20000}

In [35]:
bi={'name':'anooj','year':2001,'age':21}
bi.pop('name')
print(bi)

{'year': 2001, 'age': 21}

In [36]:
gi={'name':'anooj','gender':'male','year':2001,'age':21}
gi.update({'income':20000})
print(gi)

{'name': 'anooj', 'gender': 'male', 'year': 2001, 'age': 21, 'income': 20000}

In [40]:
hi={1,2,3,4,5,6}
for i in hi:
    print(i)

1
2
3
4
5
6

In [52]:
ki={2:4,5:8,9:8}
sum(ki.values())

20

In [53]:
com={1,2,3,4,5,6,7,8}
com2={9,10,11,12}
x=com.intersection(com2)
print(x)
b=len(x)
print(b)
if b>0:
    print("Two sets have common elements")
else:
    print("no elements in common")

set()
0
no elements in common

In [54]:
y={10:10,2:2,3:3}
s=y.values()
print(s)
sm=0
for i in s:
    sm=sm+i
print(sm)

dict_values([10, 2, 3])
15

In [60]:
y={11:30,3:2,6:3}
m=y.values()
print(s)
am=1
for i in m:
    am=am*i
print(am)

dict_values([10, 2, 3])
180