In [1]:
def mydef(str1,str2):
    a=len(str1)
    b=len(str2)
    if a>b:
        print(a)
    elif a>b:
        print(b)
    else:
        print(a)
        print(b)
str1=input('enter a name')
str2=input('enter a name')
mydef (str1,str2)

enter a nameanooj
enter a nameakash
5
5

In [3]:
def newdef(a1):
    a=a1
    if a%2==0:
        print('number is even')
    else:
        print('number is odd ')
a1=int(input('enter a number'))
newdef(a1)

enter a number3
number is odd

In [6]:
def dictionary():
    d={}
    d[1]=1**2
    d[2]=2*2
    d[3]=3*3
    print(d)
dictionary()

{1: 1, 2: 4, 3: 9}

In [14]:
def mydef():
    a={}
    for i in range(1,21):
        a[i]=i*2
    print(a)
mydef()

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40}

In [26]:
def mydef():
    a={}
    for i in range(1,21):
        a[i]=i*2
    print(a.values())
    print(a.items())
mydef()

dict_values([2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40])
dict_items([(1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14), (8, 16), (9, 18), (10, 20), (11, 22), (12, 24), (13, 26), (14, 28), (15, 30), (16, 32), (17, 34), (18, 36), (19, 38), (20, 40)])

In [27]:
def mydef():
    a={}
    for i in range(1,21):
        a[i]=i*2
    print(a.keys())
mydef()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [42]:
def mylist():
    lis=[]
    for i in range(1,21):
        i=i**2
        lis.append(i)
    print(lis)
mylist()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [13]:
def mylist():
    li=[]
    for i in range (1,21):
        i=i**2 
        li.append(i)
    print(li[-6:-1])
mylist()

[225, 256, 289, 324, 361]

In [14]:
def mylist():
    li=[]
    for i in range (1,21):
        i=i**2 
        li.append(i)
    print(li[6::1])
mylist()

[49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [15]:
def mytuple():
    tup=[]
    for i in range (1,21):
        i=i**2
        tup.append(i)
    print(tuple(tup))
mytuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)