1.Print first and last name in reverse order with a space between them

In [3]:
a = input("Input your First Name : ")
b = input("Input your Last Name : ")
print ("hai " + b + " " + a)

Input your First Name : you ok
Input your Last Name : are
hai are you ok

2.Generate a list and tuple with comma-separated numbers

In [7]:
a= input("Input some comma seprated numbers : ")
list = a.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 2 3 4 56
List :  ['2 3 4 56 ']
Tuple :  ('2 3 4 56 ',)

3.Calculate the sum of three given numbers, if the values are equal then return thrice of their sum

In [7]:
a=int(input('enter a number'))
b=int(input('enter a number'))
c=int(input('enter a number'))
sum=a+b+c
if a==b==c:
    sum=sum*3
    print(sum)

enter a number1
enter a number1
enter a number1
9

4.Get a single string from two given strings, separated by a space and swap the first two characters of each string

In [8]:
a='hai'
b='welcome'
print(a,b)
a1 = b[:2] + a[2:]
b1 = a[:2] + b[2:]
print(a1,b1)

hai welcome
wei halcome

5.Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [11]:
color1 = set(["red","blue", "green", "black"])
color2 = set(["Red", "Green","blue"])
print(color1.difference(color2))
print(color2.difference(color1))

{'red', 'black', 'green'}
{'Red', 'Green'}

6.Convert a given string into a list of words

In [12]:
a='anooj'
print(list(a))

['a', 'n', 'o', 'o', 'j']

7.Write a Python function to multiply all the numbers in a list.

In [13]:
a=[1,2,3,4,5,6,7]
li=list(map(lambda x:x*x,a))
print(li)

[1, 4, 9, 16, 25, 36, 49]

8.Find common items from two lists

In [18]:
a=[1,2,3,4,5,6,7,8]
b=[6,8,10,12,5,2,1]
x=set(a)
y=set(b)
n=x.intersection(y)
print(list(n))

[1, 2, 5, 6, 8]